fastapi
uvicorn
scikit-learn
python-multipart
pypdf2
pymongo
motor
passlib[bcrypt]
pyjwt
vaderSentiment
presidio-analyzer
presidio-anonymizer
pandas
numpy
requests
google-generativeai
duckduckgo-search
razorpay
python-dotenv
